<div>
    <h2 class="page-header">
        Update Author:
    </h2>
    <div>
        <form action="/author/<%= author.id %>/update" method="POST" enctype="application/x-www-form-urlencoded">
            <%- include('signUpForm') %>
            <a href="/author/<%= author.id %>" class="btn btn-danger">Cancel</a>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>

