<h2 class="page-header">
    Login As Author
</h2>
<form action="/author/signin" method="POST">
    <%- include('loginForm')%>
    <a href="/author" class="btn btn-danger">Cancel</a>
    <button type="submit" class="btn btn-primary">Login</button>
</form>