<h2 class="page-header">
    Sign Up As Author
</h2>
<form action="/author/signup" method="POST" enctype="multipart/form-data">
    <%- include('signUpForm') %>
    <a href="/authors" class="btn btn-danger">Cancel</a>
    <button type="submit" class="btn btn-primary">Create</button>
</form>