<div class="form-row">
    <div class="form-item">
        <label for="email">Email</label>
        <input type="email" name="email" value="<%= author.email %>" placeholder="Author Email">
    </div>
    <div class="form-item">
        <label for="password">Password</label>
        <input type="password" name="password" value="<%= author.password %>" placeholder="Author Password">
    </div>
</div>