<div>
    <h2 class="page-header">
        Sign Up As Admin
    </h2>
    <form action="/admin/signup" method="POST" enctype="multipart/form-data">
        <%- include('signUpForm')%>
        <a href="/admin" class="btn btn-danger">Cancel</a>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>