<h2 class="page-header">
    Login As Admin
</h2>
<form action="/admin/signin" method="POST">
    <%- include('signinForm')%>
    <a href="/admin" class="btn btn-danger">Cancel</a>
    <button type="submit" class="btn btn-primary">Login</button>
</form>