<header>
    <nav class="header-nav">
        <a href="/" class="header-title" style="text-decoration:none;">Library Management System</a>
        <ul type="none">
            <li><a href="/author" style="text-decoration:none;">Authors</a></li>
            <li><a href="/author/signup" style="text-decoration:none;">Sign Up - Author</a></li>
            <li><a href="/author/signin" style="text-decoration:none;">Sign In - Author</a></li>
            <li><a href="/user/signup" style="text-decoration:none;">Sign Up - User</a></li>
            <li><a href="/user/signin" style="text-decoration:none;">Sign In - User</a></li>
            <li><a href="/admin/signin" style="text-decoration:none;">Sign Up - Admin</a></li>
            <li><a href="/admin/signup" style="text-decoration:none;">Sign In - Admin</a></li>
            <li><a href="/book" style="text-decoration:none;">Books</a></li>
            <li><a href="/book/add" style="text-decoration:none;">Add Books</a></li>
        </ul>
    </nav>
</header>