<div class="form-row">
    <div class="form-item">
        <label for="email">Email</label>
        <input type="email" name="email" value="<%= user.email %>" placeholder="User Email">
    </div>
    <div class="form-item">
        <label for="password">Password</label>
        <input type="password" name="password" value="<%= user.password %>" placeholder="User Password">
    </div>
</div>