<h2 class="page-header">
    Sign Up As Author
</h2>
<form action="/user/signup" method="POST" enctype="multipart/form-data">
    <%- include('signUpForm')%>
    <a href="/user" class="btn btn-danger">Cancel</a>
    <button type="submit" class="btn btn-primary">Sign Up</button>
</form>