<h2 class="page-header">
    SignIn as User
</h2>
<form action="/user/signin" method="POST">
    <%- include('signInForm')%>
    <a href="/authors" class="btn btn-danger">Cancel</a>
    <button type="submit" class="btn btn-primary">Login</button>
</form>